
body {
    animation: change-color 5s infinite alternate;

}

@keyframes change-color {
    0% {background-color: antiquewhite;}
    50% {background-color:#daab14;}
    100% {background-color: aquamarine;}
}

.title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {transform: skew(0deg, 0deg);}
    100% {transform: skew(30deg, 20deg);}
}


.square {
    background-color:#3c29ec;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 0.5s;
    
}

.square:hover {
    background-color:#88ce17;
    transform: rotate(45deg);

}


.button-div {
    text-align: center;

}

.button {
    color:white;
    background-color:#daab14; 
    padding: 15px ;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
    /*
    margin: 50px auto;
    display: block;
    width: 100px;
    text-align: center;
    */
}

.button:hover{
    background-color:cornflowerblue;
    color: black;
    transform: scale(1.5);

}

.loading {
    background-color: white;
    animation: stretch 5s infinite alternate;
    width: 80vw;
}

@keyframes stretch {
    0% {width: 100px;}
    100% {width: 80vw;}
}


.moving-square {
    border-radius: 10px;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    background-color: #8e1cbb;
    position: relative;
    animation: left-to-right 4s infinite alternate-reverse;
    transition: transform 1s, background-color 0.5s;
    
    /*
    animation: left-to-right 1s ease in forwards infinite alternate;
    animation-duration: 4s;
    */
}


.moving-square:hover {
    background-color:cornflowerblue;
    animation-play-state: paused;
    transform: scale(1.5);

}

@keyframes left-to-right {
    /*
    0%   {background-color:#e43a7b; left:0px; top:0px;}
    25%  {background-color:#4b37ff; left:200px; top:0px;}
    50%  {background-color:#5be73f; left:200px; top:200px;}
    75%  {background-color:#da882a; left:0px; top:200px;}
    100% {background-color:#2c3edf; left:0px; top:0px;}
    */

     
    0%   {background-color:#d31d78; transform: translateX(0);}
    25%  {background-color:#f1f134; transform: translateY(100%);}
    50%  {background-color:#6dd33e; transform: translateX(100%) translateY(100%);}
    75%  {background-color:#ff0000; transform: translateX(100%);}
    100% {background-color:#d31d78; transform: translateX(0);}
    
}
