main {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {

    background-image: url('../media/findthediffwall.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.difference-one {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.difference-two {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.difference-three {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 40px;
    cursor: pointer;

}